@font-face {
    font-family: 'RobotoRegular';
    src: url('/fonts/Roboto/Roboto-Regular.ttf');
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 20px;
	font-family: 'RobotoRegular';
	color: #333;
}

body {
	position: relative;
	background-image: linear-gradient(to bottom, #f5f7fd, #f1f5fd, #ecf3fd, #e6f2fd, #e0f0fd);
}

.wrapper {
	min-height: 100vh;
	max-width: 1200px;
	margin: 100px auto;
}

.content-width {
	position: relative;
	max-width: 1200px;
}

.full-content-width {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 1200px;
}

/* Меню */

.nav {
	position: fixed;
	top: 0;
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 20px 0;
	background: #F5F7FD;
	z-index: 3;
}

.nav-static {
	-webkit-box-shadow: 0 2px 3px 0 rgba(34, 60, 80, 0.1);
	-moz-box-shadow: 0 2px 3px 0 rgba(34, 60, 80, 0.1);
	box-shadow: 0 2px 3px 0 rgba(34, 60, 80, 0.1);
}

.nav-list {
	list-style-type: none;
	display: inline-flex;
}

.nav-list-item {
	padding: 10px 20px;
}

.nav-list-link {
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: #F03328;
	font-family: 'RobotoRegular';
}

.cart {
	position: relative;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../images/icons/cart.svg');
	background-size: cover;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.full-cart:after {
	position: absolute;
	top: -3px;
	right: -6px;
	content: '';
	display: block;
	width: 14px;
	height: 14px;
	background-color: #F58220;
	border-radius: 50%;
}

.logo-main-link {
	position: absolute;
	left: 0;
}

.logo-main {
	display: block;
	width: 60px;
}

/* Меню, конец */


/* Footer */

.footer {
	display: flex;
	width: 100%;
	min-height: 200px;
	background-color: #11386B;
}

.footer-w {
	display: flex;
	width: 100%;
	max-width: 1200px;
	margin: 50px auto;
}

.footer-block {
	width: 33.333333%;
	border-right: 1px solid #fff;
}

.footer-block:last-child {
	border-right: 0
}

/* Footer, конец */


/* Анимации */

@keyframes updown {
	0% {
		bottom: -35px
	}

	100% {
		bottom: -45px
	}
}

/* Анимации, конец */

/* Всякие теги */


/* Заголовки */

.main-h1 {
	font-size: 40px;
	line-height: 50px;
	padding: 10px 0 20px 0
}

.main-h2 {
	font-size: 30px;
	line-height: 40px;
}

.secondary-h1 {
	text-align: center;
	font-size: 30px;
	line-height: 40px;
	padding: 10px 0 20px 0
}

.h2-title {
	font-size: 24px;
	padding-bottom: 20px;
}

/* Заголовки, конец */

.simply-text {
	font-size: 20px;
	line-height: 26px;
	padding-bottom: 10px;
}

.simply-link {
	font-size: 20px;
	line-height: 26px;
	padding-bottom: 10px;
	text-decoration: underline;
}

.section-center {
	text-align: center;
}

.red-btn {
	position: relative;
    display: inline-block;
    padding: 0 30px;
    height: 50px;
    color: #fff;
    background-color: #F03328;
    cursor: pointer;
    overflow: hidden;
    cursor: pointer;
}

.red-btn:hover .red-btn-ins {

	left: -100%;
}

.red-btn-span {
	position: relative;
	font-size: 20px;
    line-height: 50px;
	z-index: 1;
	color: #fff;
}

.red-btn-ins {
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 100%;
	background: rgb(241,9,9);
	background: linear-gradient(90deg, rgba(241,9,9,1) 0%, rgba(169,9,10,1) 50%, rgba(241,9,9,1) 100%);
	z-index: 0;
	transition: left .3s;
}

/* Всякие теги, конец */

/* Модификаторы */

.btn {
	display: inline-block;
	padding: 0 30px;
	height: 50px;
	color: #fff;
	background-color: #F03328;
    cursor: pointer;
}

.small-btn {
	padding: 0 20px;
	text-align: center;
	height: 40px;
	color: #fff;
	background-color: #F03328;
    cursor: pointer;
}

.btn-10px {
	border-radius: 10px;
}

.btn-30px {
	border-radius: 30px;
}

/* Модификаторы, конец */