body {
    position: relative;
}

.get-dialog {
    position: fixed;
    bottom: 50px;
    right: 100px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #FFAF46;
    background-image: url('../images/icons/chat-2.svg');
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.dialog {
    position: fixed;
    bottom: 50px;
    right: 100px;
    width: 320px;
    height: 450px;
    border: 3px solid green;
    border-radius: 5px;
    z-index: 5;
}

.dialog-top {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 10px;
    height: 40px;
    background-color: green;
}

.close-title {
    color: #fff
}

.close-chat {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background-image: url('../images/icons/close.svg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.dialog-body {
    width: 100%;
    height: calc(100% - 40px);
    background-color: #fff;
}

.closed-chat {
    display: none;
}