@font-face {
    font-family: 'RobotoRegular';
    src: url('/fonts/Roboto/Roboto-Regular.ttf');
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 20px;
	font-family: 'RobotoRegular';
}

body {
	background-image: linear-gradient(to bottom, #f5f7fd, #f1f5fd, #ecf3fd, #e6f2fd, #e0f0fd);
}

.wrapper {
	min-height: 100vh;
	max-width: 1200px;
	margin: 0 auto;
}

/* Меню */

.nav {
	display: flex;
	justify-content: center;
	padding: 30px 0;
}

.nav-list {
	list-style-type: none;
	display: inline-flex;
}

.nav-list-item {
	padding: 10px 20px;
}

.nav-list-link {
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: #F03328;
	font-family: 'RobotoRegular';
}

/* Меню, конец */

/* Заголовки */

.main-h1 {
	font-size: 40px;
	line-height: 50px;
}

.main-h2 {
	font-size: 30px;
	line-height: 40px;
}

/* Заголовки, конец */

/* Кнопки */

.top-button {
	font-size: 20px;
	line-height: 50px;
}

.more-info {
	position: relative;
	margin-top: 30px;
	font-size: 20px;
	line-height: 50px;
}

.more-info:after {
	content: '';
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	bottom: -35px;
	margin: auto;
	width: 30px;
	height: 30px;
	background-image: url('/images/pics/down.svg');
	background-repeat: no-repeat;
	background-size: 26px;
	background-position: center;
	animation: updown 1s linear 0s infinite alternate;
}

/* Кнопки, конец */

/* Секции */

.section {
	padding: 50px 0;
}

.section-top {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.section-assortment {
	display: flex;
	flex-wrap: wrap;
}

.section-welcome {

}

/* Секции, конец */

/* Секция 1 */

.top-1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
	width: 50%;
	padding: 20px 0;
}

.top-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	padding: 20px 0;
}

.top-pic {
	display: block;
	max-width: 400px;
}

/* Секция 1, конец */

/* Секция Ассортимент */

.assortment-item {
	display: flex;
	width: calc(25% - 19px);
	margin-right: 25px;
	margin-bottom: 25px;
	padding: 20px 0 0 0;
	overflow: visible;
}

.assortment-item:nth-child(4n) {
	margin-right: 0
}

.assortment-item-w {
	width: 100%;
	position: relative;
	min-height: 200px;
	border-radius: 10px;
	padding: 20px;
	bottom: 0;
	box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
	background-color: #FCF7F6;
	transition: bottom .3s;
	cursor: pointer;
}

.assortment-item-w:hover {
	bottom: 10px;
	transition: bottom .3s;
}

.item-top {
	width: 100%;
	height: 250px
}

.item-bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0 0 0;
}

.item-title {
	width: 100%;
	font-weight: bold;
	padding: 10px 0;
}

.item-info {
	padding: 10px 0 20px 0;
	border: 0!important;
	outline: 0!important;
	border-radius: 10px;
	width: calc(50% - 10px);
}

.item-info:last-child {
	text-align: right;
}

.item-info__span {
	font-weight: bold;
}

.product-pic {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}

.item-order-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.item-order-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 47.5%;
	text-decoration: none;
}

/* Секция Ассортимент, конец */


/* Секция Welcome */

/* Секция Welcome, конец */

/* Footer */

.footer {
	display: flex;
	width: 100%;
	min-height: 200px;
	background-color: #11386B;
}

.footer-w {
	display: flex;
	width: 100%;
	max-width: 1200px;
	margin: 50px auto;
}

.footer-block {
	width: 33.333333%;
	border-right: 1px solid #fff;
}

.footer-block:last-child {
	border-right: 0
}

/* Footer, конец */


/* Анимации */

@keyframes updown {
	0% {
		bottom: -35px
	}

	100% {
		bottom: -45px
	}
}

/* Анимации, конец */

/* Всякие теги */

.h2-title {
	font-size: 24px;
	padding-bottom: 20px;
}

.simply-text {
	font-size: 18px;
	line-height: 22px;
	padding-bottom: 10px;
}

.section-center {
	text-align: center;
}

/* Всякие теги, конец */

/* Модификаторы */

.btn {
	display: inline-block;
	padding: 0 30px;
	height: 50px;
	color: #fff;
	background-color: #F03328;
    cursor: pointer;
}

.small-btn {
	padding: 0 20px;
	text-align: center;
	height: 40px;
	color: #fff;
	background-color: #F03328;
    cursor: pointer;
}

.btn-10px {
	border-radius: 10px;
}

.btn-30px {
	border-radius: 30px;
}

/* Модификаторы, конец */